<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_tz_role_access_root" name="Role Access" parent="crm.crm_menu_config" sequence="95" groups="tz_crm_base.group_tz_crm_admin"/>
    <menuitem id="menu_tz_role_module_access" name="Role Module Access" parent="menu_tz_role_access_root" action="action_tz_role_module_access" sequence="10" groups="tz_crm_base.group_tz_crm_admin"/>
    <menuitem id="menu_tz_module_features" name="Module/Submodule Features" parent="menu_tz_role_access_root" action="action_tz_module_feature" sequence="20" groups="tz_crm_base.group_tz_crm_admin"/>
</odoo>
